.sidebar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 10px;
    margin: 10px 0px 20px 20px;
    overflow: hidden;
    position: relative;
}

.sidebar h3 {
    color: #5d5d5d;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 600;
}

.sidebar__menu {
    margin: 10px 0px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #7b7b7b;
    margin: 5px 0px;
    cursor: pointer;
}

li:hover {
    font-weight: 600;
    color: black;
    background-color: rgb(222, 247, 255);
}

h4 {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #5d5d5d;
    padding-left: 20px;
    margin-bottom: 20px;
}

.line {
    height: 1px;
    background-color: gray;
    opacity: 0.2;
    width: 90%;
    margin: 20px auto;
}

.sidebar img {
    width: 80px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
